In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import missingno as msno

In [ ]:
df_data_science_salaries = pd.read_csv("Data Science and STEM Salaries.csv")

df_data_science_salaries

In [ ]:
df_data_science_salaries.title.unique()

## Listing out the company counts

In [ ]:
testing = df_data_science_salaries.groupby(['company'])['timestamp'].count()
pd.set_option('display.max_rows', None)

testing

## Amazon cleaning

In [ ]:
#Searching for all variations of Amazon

sort_amazon_1 = df_data_science_salaries['company'].str.contains('A', na = False)
sort_amazon_2 = df_data_science_salaries['company'].str.contains('a', na = False)
sort_amazon_3 = df_data_science_salaries['company'].str.contains('M', na = False)
sort_amazon_4 = df_data_science_salaries['company'].str.contains('m', na = False)
sort_amazon_5 = df_data_science_salaries['company'].str.contains('Z', na = False)
sort_amazon_6 = df_data_science_salaries['company'].str.contains('z', na = False)
sort_amazon_7 = df_data_science_salaries['company'].str.contains('N', na = False)
sort_amazon_8 = df_data_science_salaries['company'].str.contains('n', na = False)

df_data_science_salaries[(sort_amazon_1 | sort_amazon_2) & (sort_amazon_3 | sort_amazon_4) & (sort_amazon_5 | sort_amazon_6) & (sort_amazon_7 | sort_amazon_8)].company.unique()

# List of Amazon company name variations that needs standardisation:
# Amazon
# amazon
# Amazon web services
# amzon
# Amzon
# AMAZON
# Amazon Web Services
# Amazon.com
# AMazon

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['amazon','Amazon web services','amzon','Amzon','AMAZON','Amazon Web Services','Amazon.com','AMazon'], value = 'Amazon', inplace= True)

#Double checking
df_data_science_salaries[(sort_amazon_1 | sort_amazon_2) & (sort_amazon_3 | sort_amazon_4) & (sort_amazon_5 | sort_amazon_6) & (sort_amazon_7 | sort_amazon_8)].company.unique()

## Apple cleaning

In [ ]:
#Searching for all variations of Apple

sort_apple_1 = df_data_science_salaries['company'].str.contains('A', na = False)
sort_apple_2 = df_data_science_salaries['company'].str.contains('a', na = False)
sort_apple_3 = df_data_science_salaries['company'].str.contains('PP', na = False)
sort_apple_4 = df_data_science_salaries['company'].str.contains('pp', na = False)
sort_apple_5 = df_data_science_salaries['company'].str.contains('L', na = False)
sort_apple_6 = df_data_science_salaries['company'].str.contains('l', na = False)
sort_apple_7 = df_data_science_salaries['company'].str.contains('E', na = False)
sort_apple_8 = df_data_science_salaries['company'].str.contains('e', na = False)

df_data_science_salaries[(sort_apple_1 | sort_apple_2) & (sort_apple_3 | sort_apple_4) & (sort_apple_5 | sort_apple_6) & (sort_apple_7 | sort_apple_8)].company.unique()

# List of Apple company name variations that needs standardisation:
# Apple
# apple
# APPLE
# Apple Inc.

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['apple', 'APPLE', 'Apple Inc.' ], value = 'Apple', inplace= True)

#Double checking
df_data_science_salaries[(sort_apple_1 | sort_apple_2) & (sort_apple_3 | sort_apple_4) & (sort_apple_5 | sort_apple_6) & (sort_apple_7 | sort_apple_8)].company.unique()

## Bloomberg cleaning

In [ ]:
#Searching for all variations of Bloomberg

sort_bloomberg_1 = df_data_science_salaries['company'].str.contains('BLOOMBERG', na = False)
sort_bloomberg_2 = df_data_science_salaries['company'].str.contains('Bloomberg', na = False)

df_data_science_salaries[(sort_bloomberg_1 | sort_bloomberg_2)].company.unique()

# List of Bloomberg company name variations that needs standardisation:
# BLOOMBERG LP
# Bloomberg lp
# Bloomberg LP

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['BLOOMBERG LP', 'Bloomberg lp', 'Bloomberg LP' ], value = 'Bloomberg', inplace= True)

#Double checking
df_data_science_salaries[(sort_bloomberg_1 | sort_bloomberg_2)].company.unique()

## Booking.com cleaning

In [ ]:
#Searching for all variations of Booking.com

sort_booking_1 = df_data_science_salaries['company'].str.contains('Booking', na = False)
sort_booking_2 = df_data_science_salaries['company'].str.contains('BOOKING', na = False)

df_data_science_salaries[(sort_booking_1 | sort_booking_2)].company.unique()

# List of Booking company name variations that needs standardisation:
# BOOKING.COM
# Booking

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['BOOKING.COM', 'Booking'], value = 'Booking.com', inplace= True)

#Double checking
df_data_science_salaries[(sort_booking_1 | sort_booking_2)].company.unique()

## ByteDance cleaning

In [ ]:
#Searching for all variations of ByteDance

sort_bytedance_1 = df_data_science_salaries['company'].str.contains('Byte', na = False)
sort_bytedance_2 = df_data_science_salaries['company'].str.contains('byte', na = False)

df_data_science_salaries[(sort_bytedance_1 | sort_bytedance_2)].company.unique()

# List of ByteDance company name variations that needs standardisation:
# bytedance
# Bytedance

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['bytedance', 'Bytedance'], value = 'ByteDance', inplace= True)

#Double checking
df_data_science_salaries[(sort_bytedance_1 | sort_bytedance_2)].company.unique()

## Capital One cleaning

In [ ]:
#Searching for all variations of Capital One

sort_cap_one_1 = df_data_science_salaries['company'].str.contains('Capital', na = False)
sort_cap_one_2 = df_data_science_salaries['company'].str.contains('capital', na = False)

df_data_science_salaries[(sort_cap_one_1 | sort_cap_one_2)].company.unique()

# List of Capital One company name variations that needs standardisation:
# Capital one
# capital one

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Capital one', 'capital one'], value = 'Capital One', inplace= True)

#Double checking
df_data_science_salaries[(sort_cap_one_2 | sort_cap_one_1)].company.unique()

## Cisco cleaning (We stopped here)

In [ ]:
#Searching for all variations of Cisco

sort_cisco_1 = df_data_science_salaries['company'].str.contains('Cisco', na = False)
sort_cisco_2 = df_data_science_salaries['company'].str.contains('cisco', na = False)
sort_cisco_3 = df_data_science_salaries['company'].str.contains('CISCO', na = False)
sort_cisco_4 = df_data_science_salaries['company'].str.contains('CIsco', na = False)

df_data_science_salaries[(sort_cisco_1 | sort_cisco_2 | sort_cisco_3 | sort_cisco_4)].company.unique()

# List of Capital One company name variations that needs standardisation:
# Cisco Systems
# cisco systems
# CISCO
# Cisco Meraki
# cisco
# Cisco systems
# CIsco
# CISCO SYSTEMS

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Cisco Systems', 'cisco systems', 'CISCO', 'Cisco Meraki','cisco', 'Cisco systems', 'CIsco', 'CISCO SYSTEMS' ], value = 'Cisco', inplace= True)

#Double checking
df_data_science_salaries[(sort_cisco_1 | sort_cisco_2 | sort_cisco_3 | sort_cisco_4)].company.unique()

## Citi cleaning

In [ ]:
#Searching for all variations of Citi

sort_citi_1 = df_data_science_salaries['company'].str.contains('Citi', na = False)
sort_citi_2 = df_data_science_salaries['company'].str.contains('citi', na = False)

df_data_science_salaries[(sort_citi_1 | sort_citi_2)].company.unique()

# List of Citi company name variations that needs standardisation:
# Citibank
# citi

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Citibank', 'citi'], value = 'Citi', inplace= True)

#Double checking
df_data_science_salaries[(sort_citi_1 | sort_citi_2)].company.unique()

## Dell cleaning

In [ ]:
#Searching for all variations of Dell

sort_dell_1 = df_data_science_salaries['company'].str.contains('Dell', na = False)

df_data_science_salaries[(sort_dell_1)].company.unique()

# List of Dell company name variations that needs standardisation:
# Dell Technologies

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Dell Technologies'], value = 'Dell', inplace= True)

#Double checking
df_data_science_salaries[(sort_dell_1)].company.unique()

## Deloitte cleaning

In [ ]:
#Searching for all variations of Deloitte

sort_deloitte_1 = df_data_science_salaries['company'].str.contains('Deloitte', na = False)
sort_deloitte_2 = df_data_science_salaries['company'].str.contains('deloitte', na = False)

df_data_science_salaries[(sort_deloitte_1 | sort_deloitte_2)].company.unique()

# List of Deloitte company name variations that needs standardisation:
# Deloitte Consulting
# Deloitte Consulting LLP
# Deloitte Advisory
# deloitte
# Deloitte consulting

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Deloitte Consulting', 'Deloitte Consulting LLP', 'Deloitte Advisory', 'deloitte', 'Deloitte consulting'], value = 'Deloitte', inplace= True)

#Double checking
df_data_science_salaries[(sort_deloitte_1 | sort_deloitte_2)].company.unique()

## Disney cleaning

In [ ]:
#Searching for all variations of Disney

sort_disney_1 = df_data_science_salaries['company'].str.contains('Disney', na = False)

df_data_science_salaries[(sort_disney_1)].company.unique()

# List of Disney company name variations that needs standardisation:
# The Walt Disney Company
# Disney Streaming Services

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['The Walt Disney Company','Disney Streaming Services'], value = 'Disney', inplace= True)

#Double checking
df_data_science_salaries[(sort_disney_1)].company.unique()

## DoorDash cleaning

In [ ]:
#Searching for all variations of DoorDash

sort_doordash_1 = df_data_science_salaries['company'].str.contains('Doordash', na = False)
sort_doordash_2 = df_data_science_salaries['company'].str.contains('DoorDash', na = False)

df_data_science_salaries[(sort_doordash_1 | sort_doordash_2)].company.unique()

# List of Doordash company name variations that needs standardisation:
# Doordash

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Doordash'], value = 'DoorDash', inplace= True)

#Double checking
df_data_science_salaries[(sort_doordash_1 | sort_doordash_2)].company.unique()

## eBay cleaning

In [ ]:
#Searching for all variations of eBay

sort_ebay_1 = df_data_science_salaries['company'].str.contains('E', na = False)
sort_ebay_2 = df_data_science_salaries['company'].str.contains('e', na = False)
sort_ebay_3 = df_data_science_salaries['company'].str.contains('B', na = False)
sort_ebay_4 = df_data_science_salaries['company'].str.contains('b', na = False)
sort_ebay_5 = df_data_science_salaries['company'].str.contains('A', na = False)
sort_ebay_6 = df_data_science_salaries['company'].str.contains('a', na = False)
sort_ebay_7 = df_data_science_salaries['company'].str.contains('Y', na = False)
sort_ebay_8 = df_data_science_salaries['company'].str.contains('y', na = False)

df_data_science_salaries[(sort_ebay_1|sort_ebay_2) & (sort_ebay_3|sort_ebay_4) & (sort_ebay_5|sort_ebay_6) & (sort_ebay_7|sort_ebay_8)].company.unique()

# List of eBay company name variations that needs standardisation:
# ebay
# Ebay
# EBAY
# EBay

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['ebay', 'Ebay', 'EBAY', 'EBay'], value = 'eBay', inplace= True)

#Double checking
df_data_science_salaries[(sort_ebay_1|sort_ebay_2) & (sort_ebay_3|sort_ebay_4) & (sort_ebay_5|sort_ebay_6) & (sort_ebay_7|sort_ebay_8)].company.unique()

## EPAM cleaning

In [ ]:
#Searching for all variations of EPAM

sort_epam_1 = df_data_science_salaries['company'].str.contains('EPAM', na = False)
sort_epam_2 = df_data_science_salaries['company'].str.contains('Epam', na = False)

df_data_science_salaries[(sort_epam_1|sort_epam_2)].company.unique()

# List of EPAM company name variations that needs standardisation:
# Epam
# EPAM Systems
# Epam Systems

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Epam', 'EPAM Systems', 'Epam Systems'], value = 'EPAM', inplace= True)

#Double checking
df_data_science_salaries[(sort_epam_1|sort_epam_2)].company.unique()

## Ernst & Young cleaning

In [ ]:
#Searching for all variations of Ernst & Young

sort_ey_1 = df_data_science_salaries['company'].str.contains('Ernst', na = False)

df_data_science_salaries[(sort_ey_1)].company.unique()

# List of Ernst & Young company name variations that needs standardisation:
# Ernst and young
# Ernst and Young

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Ernst and young', 'Ernst and Young'], value = 'Ernst & Young', inplace= True)

#Double checking
df_data_science_salaries[(sort_ey_1)].company.unique()

## Expedia cleaning

In [ ]:
#Searching for all variations of Expedia

sort_expedia_1 = df_data_science_salaries['company'].str.contains('Expedia', na = False)

df_data_science_salaries[(sort_expedia_1)].company.unique()

# List of Expedia company name variations that needs standardisation:
# Expedia Group

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Expedia Group'], value = 'Expedia', inplace= True)

#Double checking
df_data_science_salaries[(sort_expedia_1)].company.unique()

## GoDaddy cleaning

In [ ]:
#Searching for all variations of GoDaddy

sort_godaddy_1 = df_data_science_salaries['company'].str.contains('Daddy', na = False)
sort_godaddy_2 = df_data_science_salaries['company'].str.contains('daddy', na = False)

df_data_science_salaries[(sort_godaddy_1 | sort_godaddy_2)].company.unique()

# List of GoDaddy company name variations that needs standardisation:
# Godaddy

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Godaddy'], value = 'GoDaddy', inplace= True)

#Double checking
df_data_science_salaries[(sort_godaddy_1 | sort_godaddy_2)].company.unique()

## Goldman Sachs cleaning

In [ ]:
#Searching for all variations of Goldman Sachs

sort_goldmansachs_1 = df_data_science_salaries['company'].str.contains('Goldman', na = False)
sort_goldmansachs_2 = df_data_science_salaries['company'].str.contains('GOLDMAN', na = False)
sort_goldmansachs_3 = df_data_science_salaries['company'].str.contains('goldman', na = False)

df_data_science_salaries[(sort_goldmansachs_1 |sort_goldmansachs_2 | sort_goldmansachs_3)].company.unique()

# List of Goldman Sachs company name variations that needs standardisation:
# GOLDMAN SACHS
# goldman sachs
# Goldman sachs

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['GOLDMAN SACHS', 'goldman sachs', 'Goldman sachs'], value = 'Goldman Sachs', inplace= True)

#Double checking
df_data_science_salaries[(sort_goldmansachs_1 |sort_goldmansachs_2 | sort_goldmansachs_3)].company.unique()

## Google cleaning

In [ ]:
#Searching for all variations of Google

sort_google_1 = df_data_science_salaries['company'].str.contains('Google', na = False)
sort_google_2 = df_data_science_salaries['company'].str.contains('GOogle', na = False)
sort_google_3 = df_data_science_salaries['company'].str.contains('google', na = False)
sort_google_4 = df_data_science_salaries['company'].str.contains('GOOGLE', na = False)

df_data_science_salaries[(sort_google_1|sort_google_2|sort_google_3|sort_google_4)].company.unique()

# List of Google company name variations that needs standardisation:
# google
# google llc
# Google LLC
# GOogle
# \xa0Google

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['google', 'google llc', 'Google LLC', 'GOogle', '\xa0Google'], value = 'Google', inplace= True)

#Double checking
df_data_science_salaries[(sort_google_1|sort_google_2|sort_google_3|sort_google_4)].company.unique()

## IBM cleaning

In [ ]:
#Searching for all variations of IBM

sort_ibm_1 = df_data_science_salaries['company'].str.contains('Ibm', na = False)
sort_ibm_2 = df_data_science_salaries['company'].str.contains('ibm', na = False)
sort_ibm_3 = df_data_science_salaries['company'].str.contains('IBM', na = False)

df_data_science_salaries[(sort_ibm_1|sort_ibm_2|sort_ibm_3)].company.unique()

# List of IBM company name variations that needs standardisation:
# Ibm
# ibm

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Ibm', 'ibm'], value = 'IBM', inplace= True)

#Double checking
df_data_science_salaries[(sort_ibm_1|sort_ibm_2|sort_ibm_3)].company.unique()

## Intel cleaning

In [ ]:
#Searching for all variations of Intel

sort_intel_1 = df_data_science_salaries['company'].str.contains('Intel', na = False)
sort_intel_2 = df_data_science_salaries['company'].str.contains('intel', na = False)
sort_intel_3 = df_data_science_salaries['company'].str.contains('INTEL', na = False)

df_data_science_salaries[(sort_intel_1|sort_intel_2|sort_intel_3)].company.unique()

# List of Intel company name variations that needs standardisation:

# Intel Corporation
# intel
# Intel corporation
# INTEL corporation
# intel corporation

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=['Intel Corporation','intel', 'Intel corporation', 'INTEL corporation', 'intel corporation'], value = 'Intel', inplace= True)

#Double checking
df_data_science_salaries[(sort_intel_1|sort_intel_2|sort_intel_3)].company.unique()

## JPMorgan Chase cleaning

In [ ]:
#Searching for all variations of JPMorgan Chase

sort_jpmorgan_1 = df_data_science_salaries['company'].str.contains('JPMorgan', na = False)
sort_jpmorgan_2 = df_data_science_salaries['company'].str.contains('JPmorgan', na = False)
sort_jpmorgan_3 = df_data_science_salaries['company'].str.contains('Jpmorgan', na = False)
sort_jpmorgan_4 = df_data_science_salaries['company'].str.contains('JPMORGAN', na = False)

replace_jp = df_data_science_salaries[(sort_jpmorgan_1|sort_jpmorgan_2|sort_jpmorgan_3|sort_jpmorgan_4)].company.unique()

# List of JPMorgan Chase company name variations that needs standardisation:
# JPMorgan
# JPMORGAN
# JPmorgan Chase
# Jpmorgan

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=replace_jp, value = 'JPMorgan Chase', inplace= True)

#Double checking
df_data_science_salaries[(sort_jpmorgan_1|sort_jpmorgan_2|sort_jpmorgan_3|sort_jpmorgan_4)].company.unique()

## LinkedIn cleaning

In [ ]:
#Searching for all variations of LinkedIn

sort_linkedin_1 = df_data_science_salaries['company'].str.contains('Linkedin', na = False)
sort_linkedin_2 = df_data_science_salaries['company'].str.contains('LinkedIn', na = False)
sort_linkedin_3 = df_data_science_salaries['company'].str.contains('linkedin', na = False)

replace_linkedin = df_data_science_salaries[(sort_linkedin_1|sort_linkedin_2|sort_linkedin_3)].company.unique()

replace_linkedin

# List of LinkedIn company name variations that needs standardisation:
# Linkedin
# linkedin

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=replace_linkedin, value = 'LinkedIn', inplace= True)

#Double checking
df_data_science_salaries[(sort_linkedin_1|sort_linkedin_2|sort_linkedin_3)].company.unique()

## Lockheed Martin cleaning

In [ ]:
#Searching for all variations of Lockheed Martin

sort_lockheed_1 = df_data_science_salaries['company'].str.contains('Lockheed', na = False)
sort_lockheed_2 = df_data_science_salaries['company'].str.contains('lockheed', na = False)

replace_lockheed = df_data_science_salaries[(sort_lockheed_1|sort_lockheed_2)].company.unique()

replace_lockheed

# List of Lockheed Martin company name variations that needs standardisation:
# lockheed martin

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace=replace_lockheed, value = 'Lockheed Martin', inplace= True)

#Double checking
df_data_science_salaries[(sort_lockheed_1|sort_lockheed_2)].company.unique()

## Lyft cleaning

In [ ]:
#Searching for all variations of Lyft

sort_lyft_1 = df_data_science_salaries['company'].str.contains('Lyft', na = False)
sort_lyft_2 = df_data_science_salaries['company'].str.contains('lyft', na = False)

replace_lyft = df_data_science_salaries[(sort_lyft_1|sort_lyft_2)].company.unique()

replace_lyft

# List of Lyft company name variations that needs standardisation:
# lyft

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_lyft, value = 'Lyft', inplace= True)

#Double checking
df_data_science_salaries[(sort_lyft_1|sort_lyft_2)].company.unique()

## Microsoft cleaning

In [ ]:
sort_microsoft_1 = df_data_science_salaries['company'].str.contains('M', na = False)
sort_mircosoft_2 = df_data_science_salaries['company'].str.contains('m', na = False)
sort_microsoft_3 = df_data_science_salaries['company'].str.contains('F', na = False)
sort_microsoft_4 = df_data_science_salaries['company'].str.contains('f', na = False)
sort_microsoft_5 = df_data_science_salaries['company'].str.contains('T', na = False)
sort_microsoft_6 = df_data_science_salaries['company'].str.contains('t', na = False)
sort_microsoft_7 = df_data_science_salaries['company'].str.contains('S', na = False)
sort_microsoft_8 = df_data_science_salaries['company'].str.contains('s', na = False)

df_data_science_salaries[(sort_microsoft_1 | sort_mircosoft_2) & (sort_microsoft_3 | sort_microsoft_4) & (sort_microsoft_5 | sort_microsoft_6) & (sort_microsoft_7 | sort_microsoft_8)].company.unique()

#For this microsoft issue, we will need to use the str.contains function and then do it 4 times with the "or" operator so that we can standardise company name

# Microsoft
# MICROSOFT
# microsoft
# MSFT
# Msft
# Microsoft Corporation
# microsoft corporation
# MIcrosoft

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = ['MICROSOFT', 'microsoft', 'MSFT', 'Msft', 'Microsoft Corporation', 'microsoft corporation', 'MIcrosoft' ], value = 'Microsoft', inplace= True)

#Double checking
df_data_science_salaries[(sort_microsoft_1 | sort_mircosoft_2) & (sort_microsoft_3 | sort_microsoft_4) & (sort_microsoft_5 | sort_microsoft_6) & (sort_microsoft_7 | sort_microsoft_8)].company.unique()

## Northrop Grumman cleaning

In [ ]:
#Searching for all variations of Northrop Grumman

sort_northrop_1 = df_data_science_salaries['company'].str.contains('Northrop', na = False)
sort_northrop_2 = df_data_science_salaries['company'].str.contains('NORTHROP', na = False)

replace_northrop = df_data_science_salaries[(sort_northrop_1|sort_northrop_2)].company.unique()

replace_northrop

# List of Northrop Grumman company name variations that needs standardisation:
# NORTHROP GRUMMAN

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_northrop, value = 'Northrop Grumman', inplace= True)

#Double checking
df_data_science_salaries[(sort_northrop_1|sort_northrop_2)].company.unique()

## Nutanix cleaning

In [ ]:
#Searching for all variations of Nutanix

sort_nutanix_1 = df_data_science_salaries['company'].str.contains('Nutanix', na = False)
sort_nutanix_2 = df_data_science_salaries['company'].str.contains('nutanix', na = False)

replace_nutanix = df_data_science_salaries[(sort_nutanix_1|sort_nutanix_2)].company.unique()

replace_nutanix

# List of Nutanix company name variations that needs standardisation:
# nutanix

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_nutanix, value = 'Nutanix', inplace= True)

#Double checking
df_data_science_salaries[(sort_nutanix_1|sort_nutanix_2)].company.unique()

## Nvidia cleaning

In [ ]:
#Searching for all variations of Nvidia

sort_nvidia_1 = df_data_science_salaries['company'].str.contains('Nvidia', na = False)
sort_nvidia_2 = df_data_science_salaries['company'].str.contains('nvidia', na = False)
sort_nvidia_3 = df_data_science_salaries['company'].str.contains('NVIDIA', na = False)

replace_nvidia = df_data_science_salaries[(sort_nvidia_1|sort_nvidia_2|sort_nvidia_3)].company.unique()

replace_nvidia

# List of Nvidia company name variations that needs standardisation:
# NVIDIA
# nvidia

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_nvidia, value = 'Nvidia', inplace= True)

#Double checking
df_data_science_salaries[(sort_nvidia_1|sort_nvidia_2|sort_nvidia_3)].company.unique()

## Oracle cleaning

In [ ]:
#Searching for all variations of Oracle

sort_oracle_1 = df_data_science_salaries['company'].str.contains('Oracle', na = False)
sort_oracle_2 = df_data_science_salaries['company'].str.contains('oracle', na = False)
sort_oracle_3 = df_data_science_salaries['company'].str.contains('ORACLE', na = False)

replace_oracle = df_data_science_salaries[(sort_oracle_1|sort_oracle_2|sort_oracle_3)].company.unique()

replace_oracle
# List of Oracle company name variations that needs standardisation:
# oracle
# ORACLE

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_oracle, value = 'Oracle', inplace= True)

#Double checking
df_data_science_salaries[(sort_oracle_1|sort_oracle_2|sort_oracle_3)].company.unique()

## PayPal cleaning

In [ ]:
#Searching for all variations of PayPal

sort_paypal_1 = df_data_science_salaries['company'].str.contains('Paypal', na = False)
sort_paypal_2 = df_data_science_salaries['company'].str.contains('paypal', na = False)
sort_paypal_3 = df_data_science_salaries['company'].str.contains('PayPal', na = False)

replace_paypal = df_data_science_salaries[(sort_paypal_1|sort_paypal_2|sort_paypal_3)].company.unique()

replace_paypal
# List of PayPal company name variations that needs standardisation:
# paypal
# Paypal

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_paypal, value = 'PayPal', inplace= True)

#Double checking
df_data_science_salaries[(sort_paypal_1|sort_paypal_2|sort_paypal_3)].company.unique()

## PWC cleaning

In [ ]:
#Searching for all variations of PWC

sort_pwc_1 = df_data_science_salaries['company'].str.contains('PWC', na = False)
sort_pwc_2 = df_data_science_salaries['company'].str.contains('pwc', na = False)
sort_pwc_3 = df_data_science_salaries['company'].str.contains('PwC', na = False)
sort_pwc_4 = df_data_science_salaries['company'].str.contains('Pwc', na = False)

replace_pwc = df_data_science_salaries[(sort_pwc_1|sort_pwc_2|sort_pwc_3|sort_pwc_4)].company.unique()

replace_pwc

# List of PWC company name variations that needs standardisation:
# PwC
# Strategy by Pw
# pwc
# Pwc

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_pwc, value = 'PWC', inplace= True)

#Double checking
df_data_science_salaries[(sort_pwc_1|sort_pwc_2|sort_pwc_3|sort_pwc_4)].company.unique()

## Qualcomm cleaning

In [ ]:
#Searching for all variations of Qualcomm

sort_qualcomm_1 = df_data_science_salaries['company'].str.contains('Qualcomm', na = False)
sort_qualcomm_2 = df_data_science_salaries['company'].str.contains('qualcomm', na = False)
sort_qualcomm_3 = df_data_science_salaries['company'].str.contains('QUALCOMM', na = False)

replace_qualcomm = df_data_science_salaries[(sort_qualcomm_1|sort_qualcomm_2|sort_qualcomm_3)].company.unique()

replace_qualcomm

# List of Qualcomm company name variations that needs standardisation:
# QUALCOMM
# Qualcomm Inc
# qualcomm
# Qualcomm inc

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_qualcomm, value = 'Qualcomm', inplace= True)

#Double checking
df_data_science_salaries[(sort_qualcomm_1|sort_qualcomm_2|sort_qualcomm_3)].company.unique()

## SAP cleaning

In [ ]:
#Searching for all variations of SAP

sort_sap_1 = df_data_science_salaries['company'].str.contains('SAP', na = False)
sort_sap_2 = df_data_science_salaries['company'].str.contains('sap', na = False)
sort_sap_3 = df_data_science_salaries['company'].str.contains('Sap', na = False)

df_data_science_salaries[(sort_sap_1|sort_sap_2|sort_sap_3)].company.unique()

# List of SAP company name variations that needs standardisation:
# Sap Concur
# SAP Concur
# sap
# Sap

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = ['Sap Concur', 'SAP Concur', 'sap', 'Sap'], value = 'SAP', inplace= True)

#Double checking
df_data_science_salaries[(sort_sap_1|sort_sap_2|sort_sap_3)].company.unique()

## Salesforce cleaning

In [ ]:
#Searching for all variations of Salesforce

sort_salesforce_1 = df_data_science_salaries['company'].str.contains('Salesforce', na = False)
sort_salesforce_2 = df_data_science_salaries['company'].str.contains('SalesForce', na = False)
sort_salesforce_3 = df_data_science_salaries['company'].str.contains('salesforce', na = False)

replace_salesforce = df_data_science_salaries[(sort_salesforce_1|sort_salesforce_2|sort_salesforce_3)].company.unique()

replace_salesforce

# List of Salesforce company name variations that needs standardisation:
# salesforce
# SalesForce

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_salesforce, value = 'Salesforce', inplace= True)

#Double checking
df_data_science_salaries[(sort_salesforce_1|sort_salesforce_2|sort_salesforce_3)].company.unique()

## Samsung cleaning

In [ ]:
#Searching for all variations of Samsung

sort_samsung_1 = df_data_science_salaries['company'].str.contains('Samsung', na = False)
sort_samsung_2 = df_data_science_salaries['company'].str.contains('samsung', na = False)
sort_samsung_3 = df_data_science_salaries['company'].str.contains('SAMSUNG', na = False)

replace_samsung = df_data_science_salaries[(sort_samsung_1|sort_samsung_2|sort_samsung_3)].company.unique()

replace_samsung

# List of Samsung company name variations that needs standardisation:
# samsung
# Samsung Research America
# Samsung Electronics America
# SAMSUNG
# Samsung research America

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_samsung, value = 'Samsung', inplace= True)

#Double checking
df_data_science_salaries[(sort_samsung_1|sort_samsung_2|sort_samsung_3)].company.unique()

## ServiceNow cleaning

In [ ]:
#Searching for all variations of ServiceNow

sort_servicenow_1 = df_data_science_salaries['company'].str.contains('ServiceNow', na = False)
sort_servicenow_2 = df_data_science_salaries['company'].str.contains('Servicenow', na = False)
sort_servicenow_3 = df_data_science_salaries['company'].str.contains('servicenow', na = False)

replace_servicenow = df_data_science_salaries[(sort_servicenow_1|sort_servicenow_2|sort_servicenow_3)].company.unique()

replace_servicenow

# List of ServiceNow company name variations that needs standardisation:
# servicenow
# Servicenow

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_servicenow, value = 'ServiceNow', inplace= True)

#Double checking
df_data_science_salaries[(sort_servicenow_1|sort_servicenow_2|sort_servicenow_3)].company.unique()

## T-Mobile cleaning

In [ ]:
#Searching for all variations of T-Mobile

sort_tmobile_1 = df_data_science_salaries['company'].str.contains('T-mobile', na = False)
sort_tmobile_2 = df_data_science_salaries['company'].str.contains('T-Mobile', na = False)

replace_tmobile = df_data_science_salaries[(sort_tmobile_1|sort_tmobile_2)].company.unique()

replace_tmobile

# List of T-Mobile company name variations that needs standardisation:
# T-mobile

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_tmobile, value = 'T-Mobile', inplace= True)

#Double checking
df_data_science_salaries[(sort_tmobile_1|sort_tmobile_2)].company.unique()

## Tesla cleaning

In [ ]:
#Searching for all variations of Tesla

sort_tesla_1 = df_data_science_salaries['company'].str.contains('Tesla', na = False)
sort_tesla_2 = df_data_science_salaries['company'].str.contains('tesla', na = False)

replace_tesla = df_data_science_salaries[(sort_tesla_1|sort_tesla_2)].company.unique()

replace_tesla

# List of Tesla company name variations that needs standardisation:
# tesla

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_tesla, value = 'Tesla', inplace= True)

#Double checking
df_data_science_salaries[(sort_tesla_1|sort_tesla_2)].company.unique()

## Twitter cleaning

In [ ]:
#Searching for all variations of Twitter

sort_twitter_1 = df_data_science_salaries['company'].str.contains('Twitter', na = False)
sort_twitter_2 = df_data_science_salaries['company'].str.contains('twitter', na = False)

replace_twitter = df_data_science_salaries[(sort_twitter_1|sort_twitter_2)].company.unique()

replace_twitter

# List of Twitter company name variations that needs standardisation:
# twitter

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_twitter, value = 'Twitter', inplace= True)

#Double checking
df_data_science_salaries[(sort_twitter_1|sort_twitter_2)].company.unique()

## Uber cleaning

In [ ]:
#Searching for all variations of Uber

sort_uber_1 = df_data_science_salaries['company'].str.contains('Uber', na = False)
sort_uber_2 = df_data_science_salaries['company'].str.contains('uber', na = False)
sort_uber_3 = df_data_science_salaries['company'].str.contains('UBER', na = False)

replace_uber = df_data_science_salaries[(sort_uber_1|sort_uber_2|sort_uber_3)].company.unique()

replace_uber

# List of Uber company name variations that needs standardisation:
# UBER
# uber

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_uber, value = 'Uber', inplace= True)

#Double checking
df_data_science_salaries[(sort_uber_1|sort_uber_2|sort_uber_3)].company.unique()

## VMware cleaning

In [ ]:
#Searching for all variations of VMware

sort_vmware_1 = df_data_science_salaries['company'].str.contains('vmware', na = False)
sort_vmware_2 = df_data_science_salaries['company'].str.contains('VMware', na = False)
sort_vmware_3 = df_data_science_salaries['company'].str.contains('VMWare', na = False)
sort_vmware_4 = df_data_science_salaries['company'].str.contains('Vmware', na = False)
sort_vmware_5 = df_data_science_salaries['company'].str.contains('VmWare', na = False)

replace_vmware = df_data_science_salaries[(sort_vmware_1|sort_vmware_2|sort_vmware_3|sort_vmware_4|sort_vmware_5)].company.unique()

replace_vmware

# List of VMware company name variations that needs standardisation:
# VMWare
# vmware
# Vmware
# VmWare

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_vmware, value = 'VMware', inplace= True)

#Double checking
df_data_science_salaries[(sort_vmware_1|sort_vmware_2|sort_vmware_3|sort_vmware_4|sort_vmware_5)].company.unique()

## Visa cleaning

In [ ]:
#Searching for all variations of Visa

sort_visa_1 = df_data_science_salaries['company'].str.contains('visa', na = False)
sort_visa_2 = df_data_science_salaries['company'].str.contains('Visa', na = False)
sort_visa_3 = df_data_science_salaries['company'].str.contains('VISA', na = False)

replace_visa = df_data_science_salaries[(sort_visa_1|sort_visa_2|sort_visa_3)].company.unique()

replace_visa

# List of Visa company name variations that needs standardisation:
# Visa Inc
# VISA
# visa
# Visa inc

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_visa, value = 'Visa', inplace= True)

#Double checking
df_data_science_salaries[(sort_visa_1|sort_visa_2|sort_visa_3)].company.unique()

## Walmart cleaning

In [ ]:
#Searching for all variations of Walmart

sort_walmart_1 = df_data_science_salaries['company'].str.contains('walmart', na = False)
sort_walmart_2 = df_data_science_salaries['company'].str.contains('Walmart', na = False)

replace_walmart = df_data_science_salaries[(sort_walmart_1|sort_walmart_2)].company.unique()

replace_walmart

# List of Walmart company name variations that needs standardisation:
# Walmart Labs
# Walmart labs
# walmart labs
# walmart

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_walmart, value = 'Walmart', inplace= True)

#Double checking
df_data_science_salaries[(sort_walmart_1|sort_walmart_2)].company.unique()

## Wayfair cleaning

In [ ]:
#Searching for all variations of Wayfair

sort_wayfair_1 = df_data_science_salaries['company'].str.contains('wayfair', na = False)
sort_wayfair_2 = df_data_science_salaries['company'].str.contains('Wayfair', na = False)

replace_wayfair = df_data_science_salaries[(sort_wayfair_1|sort_wayfair_2)].company.unique()

replace_wayfair

# List of Wayfair company name variations that needs standardisation:
# wayfair

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_wayfair, value = 'Wayfair', inplace= True)

#Double checking
df_data_science_salaries[(sort_wayfair_1|sort_wayfair_2)].company.unique()

## Workday cleaning

In [ ]:
#Searching for all variations of Workday

sort_workday_1 = df_data_science_salaries['company'].str.contains('workday', na = False)
sort_workday_2 = df_data_science_salaries['company'].str.contains('Workday', na = False)

replace_workday = df_data_science_salaries[(sort_workday_1|sort_workday_2)].company.unique()

replace_workday

# List of Workday company name variations that needs standardisation:
# workday

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_workday, value = 'Workday', inplace= True)

#Double checking
df_data_science_salaries[(sort_workday_1|sort_workday_2)].company.unique()

## Yahoo cleaning

In [ ]:
#Searching for all variations of Yahoo

sort_yahoo_1 = df_data_science_salaries['company'].str.contains('yahoo', na = False)
sort_yahoo_2 = df_data_science_salaries['company'].str.contains('Yahoo', na = False)

replace_yahoo = df_data_science_salaries[(sort_yahoo_1|sort_yahoo_2)].company.unique()

replace_yahoo

# List of Yahoo company name variations that needs standardisation:
# yahoo

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_yahoo, value = 'Yahoo', inplace= True)

#Double checking
df_data_science_salaries[(sort_yahoo_1|sort_yahoo_2)].company.unique()

## Yandex cleaning

In [ ]:
#Searching for all variations of Yandex

sort_yandex_1 = df_data_science_salaries['company'].str.contains('yandex', na = False)
sort_yandex_2 = df_data_science_salaries['company'].str.contains('Yandex', na = False)

replace_yandex = df_data_science_salaries[(sort_yandex_1|sort_yandex_2)].company.unique()

replace_yandex

# List of Yandex company name variations that needs standardisation:
# yandex

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_yandex, value = 'Yandex', inplace= True)

#Double checking
df_data_science_salaries[(sort_yandex_1|sort_yandex_2)].company.unique()

## Yelp cleaning

In [ ]:
#Searching for all variations of Yelp

sort_yelp_1 = df_data_science_salaries['company'].str.contains('yelp', na = False)
sort_yelp_2 = df_data_science_salaries['company'].str.contains('Yelp', na = False)

replace_yelp = df_data_science_salaries[(sort_yelp_1|sort_yelp_2)].company.unique()

replace_yelp

# List of Yelp company name variations that needs standardisation:
# yelp

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_yelp, value = 'Yelp', inplace= True)

#Double checking
df_data_science_salaries[(sort_yelp_1|sort_yelp_2)].company.unique()

## Zillow cleaning

In [ ]:
#Searching for all variations of Zillow

sort_zillow_1 = df_data_science_salaries['company'].str.contains('Zillow', na = False)
sort_zillow_2 = df_data_science_salaries['company'].str.contains('zillow', na = False)

replace_zillow = df_data_science_salaries[(sort_zillow_1|sort_zillow_2)].company.unique()

replace_zillow

# List of Zillow company name variations that needs standardisation:
# Zillow Group
# zillow
# zillow group

In [ ]:
#Replacing values

df_data_science_salaries['company'].replace(to_replace = replace_zillow, value = 'Zillow', inplace= True)

#Double checking
df_data_science_salaries[(sort_zillow_1|sort_zillow_2)].company.unique()

### Change location into state and country

In [ ]:
#pd.set_option('display.max_rows', 500)

df_data_science_salaries['location'].value_counts().head()

In [ ]:
test1 = df_data_science_salaries['location'].str.split(',', n = 2, expand = True)
#Delimiting the location column by commas into city, state and country
test1[2].fillna(value = 'USA', inplace = True)
#Filling the empty rows under the 2nd index column with USA because the data omits USA under country
test1.head(200)

df_data_science_salaries['State'] = test1[1]
#Adding new column header 'State' using index column 1 of the delimited dataframe
df_data_science_salaries['Country'] = test1[2]
#Adding new column header 'State' using index column 2 of the delimited dataframe
df_data_science_salaries.head()

## Dropping columns Gender to Education because of too many missing values

In [ ]:
df_data_science_salaries = df_data_science_salaries.drop(df_data_science_salaries.loc[:, 'gender': 'Education'].columns, axis = 1)
#Dropping columns that are of no use to our analysis
df_data_science_salaries = df_data_science_salaries.drop(['location'], axis = 1)
#Dropping location since we already have the State and Country columns
df_data_science_salaries

In [ ]:
#Exporting csv file

df_data_science_salaries_cleaned = df_data_science_salaries.copy()

df_data_science_salaries_cleaned.to_csv(r'C:\Users\dani3\Desktop\Applied Data Science Course\Data Analytics PCDSI0122 - DS102\Assignment\Final\Data Science Salaries(cleaned).csv')